examples/Cache Example.json
[
    {
        "id": "bd715d0b.483ac",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6158b98.eda0b8",
        "type": "inject",
        "z": "bd715d0b.483ac",
        "name": "",
        "topic": "timestamp",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "e989e911.ba8988"
            ]
        ]
    },
    {
        "id": "e989e911.ba8988",
        "type": "Cache in",
        "z": "bd715d0b.483ac",
        "name": "",
        "cache": "3fa61b47.490fa4",
        "keyType": "msg",
        "keyProperty": "topic",
        "valueType": "msg",
        "valueProperty": "payload",
        "useString": false,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "e2c3a059.f0ba9"
            ]
        ]
    },
    {
        "id": "e2c3a059.f0ba9",
        "type": "debug",
        "z": "bd715d0b.483ac",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "7a8278f5.e03fc8",
        "type": "inject",
        "z": "bd715d0b.483ac",
        "name": "",
        "topic": "timestamp",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "eba27d44.4af1f"
            ]
        ]
    },
    {
        "id": "eba27d44.4af1f",
        "type": "Cache out",
        "z": "bd715d0b.483ac",
        "name": "",
        "cache": "3fa61b47.490fa4",
        "keyType": "msg",
        "keyProperty": "topic",
        "valueType": "msg",
        "valueProperty": "payload",
        "ttlType": "msg",
        "ttlProperty": "",
        "useString": false,
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "19b788ea.3f8aa7",
        "type": "inject",
        "z": "bd715d0b.483ac",
        "name": "",
        "topic": "timestamp2",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "eba27d44.4af1f"
            ]
        ]
    },
    {
        "id": "50ca9180.05a4d",
        "type": "inject",
        "z": "bd715d0b.483ac",
        "name": "",
        "topic": "",
        "payload": "flush",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "128cce36.5465e2"
            ]
        ]
    },
    {
        "id": "31f4d6b7.6283da",
        "type": "inject",
        "z": "bd715d0b.483ac",
        "name": "",
        "topic": "",
        "payload": "keys",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "25f8b27.9d6fe4e"
            ]
        ]
    },
    {
        "id": "128cce36.5465e2",
        "type": "change",
        "z": "bd715d0b.483ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "flush",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "e989e911.ba8988"
            ]
        ]
    },
    {
        "id": "25f8b27.9d6fe4e",
        "type": "change",
        "z": "bd715d0b.483ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "keys",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 388,
        "y": 199,
        "wires": [
            [
                "e989e911.ba8988"
            ]
        ]
    },
    {
        "id": "e9dc033d.f0c81",
        "type": "inject",
        "z": "bd715d0b.483ac",
        "name": "",
        "topic": "",
        "payload": "flush",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 620,
        "wires": [
            [
                "d157b858.a844e8"
            ]
        ]
    },
    {
        "id": "d157b858.a844e8",
        "type": "change",
        "z": "bd715d0b.483ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "flush",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "eba27d44.4af1f"
            ]
        ]
    },
    {
        "id": "3fa61b47.490fa4",
        "type": "Cache",
        "z": "",
        "name": "abcd",
        "defaultTtl": "10",
        "checkPeriod": "30"
    }
]